@use "~bootstrap/scss/bootstrap" as *;

li {
    list-style-type: none;

    h3:hover {
        background-color: #09CAF0;
        border-radius: 10px;
    }
}

.logo {
    width: 200px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    ul {
        margin: 0;
    }
}

.img-footer {
    width: 200px;
}

.single-pokemon-description {
    line-height: 40px;
}

.back-icon {
    padding: 20px 28px;
    background-color: #09CAF0;
    border-radius: 50px;
    font-size: 30px;
}